{% extends "BenLogementBundle::layout.html.twig" %}
{% block title %}
Tableau de bord | {{ parent() }}
{% endblock %}
{% block body %}
<div class="col-md-12"><h3><span class="glyphicon glyphicon-import"></span> Importer</h3>

<form class="form-horizontal" action="{{ path('ben_import') }}" method="POST" role="form" {{ form_enctype(form) }}>
   <legend>Fichier à importer :</legend>
   <ul>
   	<li>Un fichier de session (sqlite)</li>
   	<li>Taille maximum: 20Mio</li>
   </ul>
   <legend>Options :</legend>
   <ul class="list-unstyled">
   <li><input type="checkbox" name="person" value="1" checked="checked"> Importer les étudiants</li>
   <li><input type="checkbox" name="room" value="1" checked="checked"> Importer les chambres</li>
   <li><input type="checkbox" name="university" value="1"> Importer les universités</li>
   </ul>
  
    <div class="form-group">
      <div class="col-md-2">
      Parcourir :
      </div>
      {{ form_widget(form.file, { 'label': ' '}) }}
    </div>
  	<button type="submit" name="subvalider" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Exécuter</button>
          {{ form_rest(form) }}  
</form>
</div>  
{% endblock body %}