{% for entity in entities %}
    <tr>
        <td class="hidden-print"><input type="checkbox" name="entities[]" value="{{ entity.id }}" ></td>
        <td>{{ entity.ndossier }}</td>
        <td><em> {{ entity.fullName }}</em></td>
        <td>{{ entity.cin }}</td>
        <td>{{ entity.cne }}</td>
        <td class="hidden-print">{{ entity.status }}</td>
        <td class="hidden-print">{{ entity.type }}</td>
        <td class="hidden-print">
            <div class="text-centers">
                <a class="btn btn-primary js-show btn-xs" data-toggle="tooltip" data-placement="top" title="afficher" href="{{ path('etudiant_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-search"></span></a>
                <a class="btn btn-info btn-xs" data-toggle="tooltip" data-placement="top" title="modifier" href="{{ path('etudiant_edit', { 'id': entity.id, 'type': entity.type }) }}"><span class="glyphicon glyphicon-edit"></span></a>
                {% if entity.hasReservation %}
                <a class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="information du paiement" href="{{ path('reservation_edit', { 'id': entity.reservation.id }) }}"><span class="glyphicon glyphicon-file"></span></a>
                {% else %}
                <a class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="paiement" href="{{ path('reservation_new', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-file"></span></a>
                {% endif %}
            </div>
        </td>
    </tr>
{% endfor %}
                
{% include "BenLogementBundle:Default:pagination.html.twig" %}

<script>
    
(function($) {

    /* tooltip */
    $('a[data-toggle="tooltip"]').tooltip();

})(jQuery);
</script>