{% extends "BenLogementBundle::layout.html.twig" %}
{% block title %}
Elaboration des listes | {{ parent() }}
{% endblock %}
{% block body %}


 <h3><span class="glyphicon glyphicon-user"></span> Liste Eligibles
 <div class="pull-right hidden-print">
  <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#infoModal2"><span class="glyphicon glyphicon-cog"></span> Par ordre de mérite</a>
    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#infoModal"><span class="glyphicon glyphicon-cog"></span> université</a>
   {% if entities %}<a href="#" class="btn btn-primary" id="js-submit"><span class="glyphicon glyphicon-ok-circle"></span> Confirmer</a>{% endif %}
   <a id="btnPrint" class="btn btn-primary" href="#"><span class="glyphicon glyphicon-print"></span> Imprimer</a>
 </div>
</h3>

<!-- Modal -->
<form  id="form1" role="form" method="post" action="{{ path('etudiant_generate_list_university') }}"> 
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <div class="col-md-3 pull-right">
          <select id="geder-select" name="gender" class="form-control">
            <option value="Fille" >Fille</option>
            <option value="Garçon" >Garçon</option>
          </select>
          </div>
        <h4 class="modal-title" id="infoModalLabel"><span class="glyphicon glyphicon-user"></span> Nombre de candidat éligible</h4>

      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-ok-circle"></span> Lancer</button>
      </div>
    </div>
  </div>
</div>
</form>

<!-- Modal -->
<form  id="form2" role="form" method="post" action="{{ path('etudiant_generate_list_quota') }}"> 
<div class="modal fade" id="infoModal2" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <div class="col-md-3 pull-right">
          <select name="gender" class="form-control">
            <option value="Fille" >Fille</option>
            <option value="Garçon" >Garçon</option>
          </select>
          </div>
        <h4 class="modal-title" id="infoModalLabel2"><span class="glyphicon glyphicon-user"></span> Nombre de candidat éligible</h4>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <div class="form-group">
            <label class="col-md-10 control-label" for=""><small>Nombre de candidat éligible</small></label>
            <div class="col-md-2 form-group">
              <input class="form-control" id="" type="number" name="quota">
            </div>
          </div>
        </div> 
        <div class="clearfix"></div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-ok-circle"></span> Lancer</button>
      </div>
    </div>
  </div>
</div>
</form>

  <form  id="form3" role="form" method="post" action="{{ path('etudiant_validate_list') }}">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Dossier</th>
                <th>Nom</th>
                <th class="hidden-print">Type</th>
                <th>CIN</th>
                <th>CNE</th>
                <th class="hidden-print">Note</th>
            </tr>
        </thead>
        <tbody id="dataContainer">
        {% set i = 0 %}
        {% for e in entities %}
        {% if entities|length > 1 %}
        <tr class="info hidden-print"><td colspan="10">{{ e[0].etablissement }} <span class="badge pull-right">{{ e|length }}</span></td></tr>
        {% endif %}
        {% for entity in e %}
        {% set i = i+1 %}
            <tr>
                <td>{{ i }} <input type="hidden" name="entities[]" value="{{ entity.id }}"></td>
                <td>{{ entity.ndossier }}</td>
                <td>{{ entity.fullName }}</td>
                <td class="hidden-print">{{ entity.type }}</td>
                <td>{{ entity.cin }}</td>
                <td>{{ entity.cne }}</td>
                <td class="hidden-print">{{ entity.note }}</td>
            </tr>
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>
  </form>

{% endblock body %}
{% block javascripts %}
{{ parent() }}
<script> 
    (function($) {
        var form1 = $('#form1'),
            container = form1.find('.modal-content'),
            dataContainer = form1.find('.modal-body');

        $('#js-submit').on('click', function(){
            $('#form3').submit();
            return false;
        });
        $('#geder-select').on('change', function(){
            container.addClass('working');
            $.ajax({ 
              type: "POST", 
              data: form1.serialize(),
              url: "{{ path('etudiant_university_gender') }}", 
              success: function(data){ 
                container.removeClass('working');
                dataContainer.empty().hide().html(data).fadeIn();
              },
              error:function(){
                  container.removeClass('working');
              }
            });
        });
        $('#geder-select').trigger('change');

    })(jQuery);
</script>
{% endblock %}