
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {% set addr = app.request.server.get('SERVER_ADDR') %} 
    {% set addr = 'http://' ~ app.request.server.get('SERVER_ADDR') %} 
    <link href="{{ addr ~ asset('bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <title>onousc</title>
</head>
<body>
  <div class="col-md-12 text-left"><img src="{{ addr ~ asset('images/header.png') }}"/></div>
  <h3><span class="glyphicon glyphicon-user"></span> Liste des étudiants  
 {% if type != 'all' %}{{ type }}{% endif %}
 {% if status != 'all' %}{{ status }}{% endif %}
 </h3>

  <table class="table table-striped table-hover table-bordered">
      <thead>
          <tr>
              <th>#</th>
              <th>N° dossier</th>
              <th>CNE</th>
              <th>Nom</th>
              <th>Prenom</th>
              <th>Note</th>
            {% if status == person.resident %}
              <th>Montant</th>
              <th>Pavillon</th>
              <th>Chambre</th>
            {% endif %}
            {% if status == person.notvalide %}
              <td>remarque</td>
            {% endif %}
          </tr>
      </thead>
      <tbody id="dataContainer">
          {% for entity in entities %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ entity.ndossier }}</td>
              <td>{{ entity.cne }}</td>
              <td>{{ entity.familyName }}</td>
              <td>{{ entity.firstName }}</td>
              <td>{{ entity.note }}</td>
          
            {% if status == person.resident %}
              <td>{% if entity.reservation  %}{{ entity.reservation.price }}{% endif %}</td>
              <td>{% if entity.reservation %}{{ entity.reservation.room.name }}{% endif %}</td>
              <td>{% if entity.reservation %}{{ entity.reservation.room.block.name }}{% endif %}</td>
            {% endif %}
            {% if status == person.notvalide %}
              <td>{{ entity.remarque }}</td>
            {% endif %}
            </tr>
          {% endfor %}
      </tbody>
  </table>
  <div class="pull-right">
      Fait à {{ app_config.app_city }} le {{ 'now'|date('d/m/Y')}}
  </div>
</body>
</html>
