{% extends "BenLogementBundle::layout.html.twig" %}
{% block title %}
Tableau de bord | {{ parent() }}
{% endblock %}
{% block stylesheet %}
{{ parent() }}
        <link href="{{ asset('css/select2.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
<h3><span class="glyphicon glyphicon-user"></span> {% if status == 'non valide' %}Liste des étudiants rejetés{% else  %}Archive des étudiants{% endif %}</h3>
    <form  id="jsForm" role="form" method="post" action="">
          <input id="pagenumber" type="hidden" name="page" value="1"> 
          <input id="sortBy" type="hidden" name="searchEntity[sortBy]" value="all"> 
          <input id="sortDir" type="hidden" name="searchEntity[sortDir]" value="ASC"> 
          <input type="hidden" name="template" value="ajax_rejected"> 
          <input id="status" type="hidden" name="status" value="{{ status }}"> 
            <div class="row hidden-print">
              <div class="col-md-5 form-group">
                <div class="input-group">
                  <input type="text" name="keyword" class="form-control" placeholder="Search">
                  <div class="input-group-btn">
                  <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                  </div><!-- /btn-group -->
                </div><!-- /input-group -->
              </div><!-- /.col-md-6 -->

              <div class="col-md-3">
                <select id="js-type" name="type" class="form-control">
                    <option value="all">Filtrer par</option>
                    <option value="{{ person.new }}">Nouveaux étudiants</option>
                    <option value="{{ person.old }}">Anciens étudiants</option>
                    <option value="{{ person.foreign }}">Etudiants étrangers</option>
                    <option value="{{ person.special }}">Etudiants en situation particulière</option>
                </select>
              </div><!-- /.col-md-3 -->

              <div class="col-md-4">
                <div class="btn-group pull-right">                            
                  <a href="#" data-toggle="modal" data-target="#searchModal" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Recherche avancée</a>
                  <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path('etudiant_new') }}"><span class="glyphicon glyphicon-plus"></span> Ajouter ({{person.new}})</a></li>
                    <li><a href="{{ path('etudiant_new', {type: person.foreign}) }}"><span class="glyphicon glyphicon-plus"></span> Ajouter ({{person.foreign}})</a></li>
                    <li><a href="{{ path('etudiant_new', {type: person.special}) }}"><span class="glyphicon glyphicon-plus"></span> Ajouter ({{person.special}})</a></li>
                    {% if status == 'non valide' %}
                    <li><a href="#" class="js-enable" data-action="valide"><span class="glyphicon glyphicon-ok-circle"></span> Activer</a></li>
                    {% endif %}
                    <li class="divider"></li>
                    <li><a href="{{ path('etudiant_to_excel', {status:status}) }}" id="btnApprouver"><span class="glyphicon glyphicon-export"></span> Exporter</a></li>
                    <li><a id="btnPrint"><span class="glyphicon glyphicon-print"></span> imprimer cette page</a></li>
                      <li><a href="{{ path('etudiant_to_pdf', {status:status}) }}" id="js-print-all"><span class="glyphicon glyphicon-print"></span> imprimer tout</a></li>
                    <li><a href="#" id="js-delete"><span class="glyphicon glyphicon-trash"></span> Supprimer</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- /.row -->

            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th class="hidden-print"><input id="checkall" type="checkbox" value=""></th>
                        <th class="sortable"><a href="#" class="js-sort" data-order="n_dossier">Dossier<span class="caret"></span></a></th>
                        <th class="sortable"><a href="#" class="js-sort" data-order="family_name">Nom<span class="caret"></span></a></th>
                        <th class="sortable"><a href="#" class="js-sort" data-order="cin">CIN<span class="caret"></span></a></th>
                        <th class="sortable"><a href="#" class="js-sort" data-order="cne">CNE<span class="caret"></span></a></th>
                        {% if status == 'archive' %}
                        <th class="sortable"><a href="#" class="js-sort" data-order="cne">Date d'inscription<span class="caret"></span></a></th>
                        <th>Status</th>
                        {% else %}
                        <th>Remarque</th>
                        {% endif %}
                        <th class="hidden-print">action</th>
                    </tr>
                </thead>
                <tbody id="dataContainer">
                    
                </tbody>
            </table>
        <div class="caption">
          <strong>Total:</strong> <em>{{ entitiesLength }} Etudiants</em>
        </div>
{% include "BenLogementBundle:Person:search.html.twig" %}
</form>

{% endblock body %}
{% block javascripts %}
{{ parent() }}
{% include "BenLogementBundle:Person:js.html.twig" %}
{% endblock %}
