{% extends "BenLogementBundle::layout.html.twig" %}
{% block title %}
Tableau de bord | {{ parent() }}
{% endblock %}
{% block body %}


<div class="visible-print">

<h3><span class="glyphicon glyphicon-user"></span> Fiche étudiant</h3>
<table class="table table-hover table-bordered">
  <tr>
    <td>CNE</td><td>CIN</td><td>Nom</td>
  </tr>
  <tr>
    <td>{{ entity.cne }}</td><td>{{ entity.cin }}</td><td>{{ entity.fullName }}</td>
  </tr>
</table>
  <ul class="list-unstyled list-print">
    <li><strong>Nom :</strong> {{ entity.familyName }}</li>
    <li><strong>Preom :</strong>  {{ entity.firstname }}</li>
    <li><strong>Date de naissance :</strong> {% if entity.birdday %}{{ entity.birdday|date('d/m/Y') }}{% endif %}</li>
    <li><strong>CNE :</strong> {{ entity.cne }}</li>
    <li><strong>CIN :</strong> {{ entity.cin }}</li>
    <li><strong>Université :</strong> {% if entity.etablissement %}{{ entity.etablissement.parent }}{% endif %}</li>
    <li><strong>Etablissement :</strong> {{ entity.etablissement }}</li>
    <li><strong>Cycle d'etude :</strong> {{ entity.diplome }}</li>
    <li><strong>Niveau d'etude :</strong> {{ entity.niveauetude }}</li>
  {% if entity.isResident %}
    <li><strong>Numero de la chambre :</strong> {{ entity.reservation.room.name }} </li>
    <li><strong>Numero du pavillon :</strong> {{ entity.reservation.room.block.name }} </li>
    <li><strong>Ancienceté :</strong> {{ entity.ancientete }} </li>
  {% endif %}
  </ul>
</div>


<div class="hidden-print">
<div class="col-md-12">
<div class="btn-group pull-right" style="margin-top: 15px;">              
  <button class="btn btn-primary "><span class="glyphicon glyphicon-cog"></span> Action</button>
  <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="{{ path('etudiant_edit', { 'id': entity.id, 'type': entity.type }) }}"><span class="glyphicon glyphicon-edit"></span> modifier</a></li>
    {# {% if entity.status in [person.eligible, person.valide] and entity.status in [person.old, person.foreign] %}
    <li><a href="{{ path('reservation_new', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-check"></span> Réserver une chambre</a></li>
    {% endif %} #}
    <li><a id="btnPrint"><span class="glyphicon glyphicon-print"></span> imprimer</a></li>
    <li><a href="#" id="js-delete"><span class="glyphicon glyphicon-trash"></span> Supprimer</a></li>
  </ul>
</div>
<h3><span class="glyphicon glyphicon-user"></span> Etudiant{{ entity.gender == 'Fille' ? 'e' }}: {{ entity.fullName }}</h3>

</div>
  <div class="col-md-4">
      <div class="box">
        <header>
            <h4><span class="glyphicon glyphicon-file"></span> Informations générale</h4>
        </header>
          <ul class="list-group">
            <li class="list-group-item"><strong>Nom :</strong> {{ entity.familyName }}
            <span class="pull-right text-right">{{ entity.familyNameAr }} </span>
            </li>
            <li class="list-group-item"><strong>Preom :</strong>  {{ entity.firstname }} 
            <span class="pull-right text-right">{{ entity.firstnamear }} </span>
            </li>
            <li class="list-group-item"><strong>CIN :</strong> {{ entity.cin }}</li>
            <li class="list-group-item"><strong>CNE :</strong> {{ entity.cne }}</li>
            <li class="list-group-item"><strong>Sexe :</strong> {{ entity.gender }}</li>
            <li class="list-group-item"><strong>Date de naissance :</strong> {% if entity.birdday %}{{ entity.birdday|date('d/m/Y') }}{% endif %}</li>
            <li class="list-group-item"><strong>Université :</strong> {% if entity.etablissement %}{{ entity.etablissement.parent }}{% endif %}</li>
            <li class="list-group-item"><strong>Etablissement :</strong> {{ entity.etablissement }}</li>
            <li class="list-group-item"><strong>Cycle d'etude :</strong> {{ entity.diplome }}</li>
            <li class="list-group-item"><strong>Note du Baccalauréat :</strong> {{ entity.exellence }}</li>
            <li class="list-group-item"><strong>Année d'obtention du Baccalauréat :</strong> {{ entity.getObtentionBac }}</li>
            <li class="list-group-item"><strong>Niveau d'etude :</strong> {{ entity.niveauetude }}</li>
          </ul>
      </div>
  </div>
  <div class="col-md-4">
      <div class="box">
          <header>
              <h4><span class="glyphicon glyphicon-home"></span> Informations de logement</h4>
          </header>
          <ul class="list-group">
            <li class="list-group-item"><strong>Date d'inscription :</strong> {% if entity.created %}{{ entity.created|date('d/m/Y') }}{% endif %}</li>
            <li class="list-group-item"><strong>Note de logement :</strong> {{ entity.note }}</li>
            <li class="list-group-item"><strong>Ancienceté :</strong> {{ entity.ancientete }} ans</li>
          {% if entity.isResident %}
            <li class="list-group-item"><strong>Date début :</strong> {{ entity.reservation.dateFrom|date('d/m/Y') }}  </li>
            <li class="list-group-item"><strong>Date fin :</strong> {{ entity.reservation.dateTo|date('d/m/Y') }} </li>
            <li class="list-group-item"><strong>Numero de chambre :</strong> {{ entity.reservation.room.name }} </li>
            <li class="list-group-item"><strong>Numero de pavé :</strong> {{ entity.reservation.room.block.name }} </li>
            <li class="list-group-item"><strong>Date de payement :</strong> {{ entity.reservation.datePayement|date('d/m/Y') }}  </li>
            <li class="list-group-item"><strong>Montant :</strong> {{ entity.reservation.price }} DH </li>
          {% endif %}
          </ul>
      </div>
  </div>
  <div class="col-md-4">   
      <div class="box">
          <header>
              <h4><span class="glyphicon glyphicon-tag"></span> Autres Informations</h4>
          </header>
          <ul class="list-group">
            <li class="list-group-item"><strong>Pay :</strong> {{ entity.contry }}</li>
            <li class="list-group-item"><strong>Province :</strong> {{ entity.city }}</li>
            <li class="list-group-item"><strong>Revenu des parents :</strong> {{ entity.parentsrevenu }} DH </li>
            <li class="list-group-item"><strong>Nombre de frères et soeurs :</strong> {{ entity.brosisnumber }} </li>
            {% if entity.type == person.special %}<li class="list-group-item"><strong>Comportement :</strong> {{ entity.conditionSpecial }}</li>{% endif %}
            <li class="list-group-item"><strong>Etat :</strong> {{ entity.status }}</li>
            <li class="list-group-item"><strong>Type :</strong> {{ entity.type }}</li>
            <li class="list-group-item"><strong>Remarque :</strong> {{ entity.remarque }} </li>
          </ul>
      </div>          
  </div>
</div>
<form id="deleteForm" action="{{ path('etudiant_delete', { 'id': entity.id }) }}" method="post" class="">
    {{ form_widget(delete_form) }}
</form>  
{% endblock body %}
{% block javascripts %}
{{ parent() }}
<script> 
    (function($) {

        $('#js-delete').on('click', function(){
            $('#deleteForm').submit();
            return false;
        });
    })(jQuery);
</script>
{% endblock %}
