{% extends "BenLogementBundle::layout.html.twig" %}
{% block title %}
Tableau de bord | {{ parent() }}
{% endblock %}
{% block body %}
<div class="col-md-12  hidden-print"><h3><span class="glyphicon glyphicon-stats"></span> Statistiques 
<a id="btnPrint" class="btn btn-default pull-right"><span class="glyphicon glyphicon-print"></span> imprimer</a></h3></div>
<div class="col-md-12  visible-print">
    <h3 class="text-center">توزيع عدد الطلبة القاطنين حسب المستوى الدراسي</h3>
    <h4 class="text-center">REPARTITION DES EFFECTIFS DES RESIDENTS SELON LE DIPLÔME PREPARE
</h4>
</div>
<div class="col-md-12">
    <div class="box">
        <table class="table table-hover table-bordered">
            <thead>
                <tr class="hidden-print"><th colspan="10"><div class="text-center">REPARTITION DES EFFECTIFS DES RESIDENTS SELON LE DIPLÔME PREPARE</div></th></tr>
                <tr>
                    <th ROWSPAN="2">Cycle d'étude</th>
                    <th ROWSPAN="2">Niveau</th>
                    <th colspan="3">Les deux sexes</th>
                    <th colspan="3">Sexe féminin</th>
                </tr>
                <tr>
                    <th>Global</th>
                    <th>Nouveaux</th>
                    <th>Etrangers</th>
                    <th>Global</th>
                    <th>Nouvelles</th>
                    <th>Etrangères</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.diplome }}</td>
                    <td>{{ entity.niveau_etude }}</td>
                    <td>{{ entity.all }}</td>
                    <td>{{ entity.allnew }}</td>
                    <td>{{ entity.allforeign }}</td>
                    <td>{{ entity.women }}</td>
                    <td>{{ entity.womennew }}</td>
                    <td>{{ entity.womenforeign }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table> 
    </div>
</div>
<div class="visible-print pull-right">
    Fait à {{ app_config.app_city }} le {{ 'now'|date('d/m/Y')}}
</div>
{% endblock body %}
{% block javascripts %}
{{ parent() }}

<script> 
(function($) { 
    

})(jQuery);

</script>
{% endblock %}