{% extends "BenLogementBundle::layout.html.twig" %}
{% block title %}
Tableau de bord | {{ parent() }}
{% endblock %}
{% block body %}
<div class="col-md-12"><h3>Pavillon {{ entity.name }}</h3></div>

<div class="col-md-9">
    <table class="table table-bordered">
        <tr>
            <th class="col-md-2">Nom du pavillon</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Nombre d'étages</th>
            <td>{{ entity.floors }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ entity.type }}</td>
        </tr>
        <tr>
            <th>Cité</th>
            <td>{{ entity.logement.name }}</td>
        </tr>
        <tr>
            <th>Nombre de chambre</th>
            <td>{{ entity.rooms|length }}</td>
        </tr>
        <tr class="hide-print">
            <th>Listes des chambres</th>
            <td class="room-widget">
                {% for item in entity.rooms %}
                    <div class="col-md-2 floor{{ item.floor }}" data-floor="{{ item.floor }}"><a href="{{ path('room_show', { 'id': item.id }) }}" class="btn btn-{% if item.isFree %}success{% else %}default{% endif %} btn-block">{{ item.name }} </a></div>
                {% endfor %}
            </td>
        </tr>
    </table>
</div>

<div class="col-md-3">
    <form action="{{ path('block_delete', { 'id': entity.id }) }}" method="post" class="">
    {{ form_widget(delete_form) }}
    <a id="submitEditForm" class="btn btn-primary btn-block" href="{{ path('block_edit', { 'id': entity.id }) }}"> Mettre à jour</a>
    <a class="btn btn-primary btn-block " href="{{ path('block') }}"> Revenir vers la liste</a>
    <a id="btnPrint" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-print"></span> imprimer</a>
    <button type="submit" class="btn btn-embossed btn-danger btn-block"> Supprimer </button>
    </form>
</div>

{% endblock body %}
{% block javascripts %}
{{ parent() }}
<script> 
    (function($) {
        var roomWidget = $('.room-widget'),
            rooms = roomWidget.children();

        rooms.sort(function(a,b){
            var an = a.getAttribute('data-floor'),
                bn = b.getAttribute('data-floor');

            if(an > bn) {
                return 1;
            }
            if(an < bn) {
                return -1;
            }
            return 0;
        });

        rooms.detach().appendTo(roomWidget);
        for (var i = 0; i < 6; i++)
            $('.floor'+i).wrapAll('<div class="row"></div>').parent().prepend('<div class="col-md-12"><p class="bg-info col-md-12">Etage N°'+i+'</p></div>');
    })(jQuery);
</script>
{% endblock %}