{% for entity in entities %}
    <tr>
        <td>{{ entity.name }}</td>
        <td>{{ entity.floor }}</td>
        <td>{{ entity.block.name }}</td>
        <td>{{ entity.block.type }}</td>
        <td>{{ entity.capacity }}</td>
        <td>{{ entity.free }}</td>
        <td class="hidden-print">
            <div class="text-center">
            {% if pagination is defined %}
                <a class="btn btn-info btn-xs" href="{{ path('room_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-search"></span></a>
                <a class="btn btn-danger btn-xs" href="{{ path('room_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-edit"></span></a>
            {% else %}
            <a class="btn btn-info btn-xs js-check" href="#" data-id="{{ entity.id }}"><span class="glyphicon glyphicon-check"></span> ok</a>
            {% endif %}
            </div>
        </td>
    </tr>
{% endfor %}

{% if pagination is defined %}
{% include "BenLogementBundle:Default:pagination.html.twig" %}
{% endif %}