{% for entity in entities %}
    <tr>
        <td>{{ entity.name }}</td>
        <td>{{ entity.floor }}</td>
        <td>{{ entity.block.name }}</td>
        <td>{{ entity.block.type }}</td>
        <td>{{ entity.capacity }}</td>
        <td>{{ entity.free }}</td>
        <td class="hide-print">
            <div class="text-center">
            {% if page is defined %}
                <a class="btn btn-info btn-xs" href="{{ path('room_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-search"></span></a>
                <a class="btn btn-danger btn-xs" href="{{ path('room_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-edit"></span></a>
            </div>
            {% else %}
            <a class="btn btn-info btn-xs js-check" href="#" data-id="{{ entity.id }}"><span class="glyphicon glyphicon-check"></span> ok</a>
            {% endif %}
        </td>
    </tr>
{% endfor %}
                
{% if entities|length > nombreParPage %}
<tr class="mypagination hide-print">
    <td colspan="10">
      <div class="text-center">
          <ul class="pagination">
            {% if page != 1 %}
            <li class="previous"><a href="#" class="js-page" data-page="{{ page-1 }}"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
            {% endif %}
            <li class="active">
              <a href="#" class="js-page" data-page="{{ page }}" >{{ page}} / {{nombrePage}}</a>
            </li>
            {% if page != nombrePage %}
              <li class="next"><a href="#" class="js-page" data-page="{{ page+1 }}"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
            {% endif %}
          </ul>
      </div>
    </td>
</tr>
{% endif %}